<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nombre</key>
		<string>Luis Alberto</string>
		<key>Apellido</key>
		<string>Gutiérrez Valladares</string>
		<key>Fecha de nacimiento</key>
		<date>1945-01-07T23:22:10Z</date>
		<key>Sexo</key>
		<string>Hombre</string>
		<key>Telefono de emergencia</key>
		<integer>55123423421</integer>
		<key>Usuario</key>
		<string>alberto</string>
		<key>Contraseña</key>
		<string>1234</string>
	</dict>
	<dict>
		<key>Nombre</key>
		<string>Luis Jorge</string>
		<key>Apellido</key>
		<string>Remes Quiroz</string>
		<key>Fecha de nacimiento</key>
		<date>1942-01-07T23:22:31Z</date>
		<key>Sexo</key>
		<string>Hombre</string>
		<key>Telefono de emergencia</key>
		<integer>551231231</integer>
		<key>Usuario</key>
		<string>jorge</string>
		<key>Contraseña</key>
		<string>1234</string>
	</dict>
	<dict>
		<key>Nombre</key>
		<string>Alejandra</string>
		<key>Apellido</key>
		<string>Granada Torres</string>
		<key>Fecha de nacimiento</key>
		<date>1950-01-07T23:22:24Z</date>
		<key>Sexo</key>
		<string>Mujer</string>
		<key>Telefono de emergencia</key>
		<integer>55123124325</integer>
		<key>Usuario</key>
		<string>alejandra</string>
		<key>Contraseña</key>
		<string>1234</string>
	</dict>
</array>
</plist>
